.destaque{
    background-color: yeloow;
    color:red;
    font-size: 20px;
}
input[type="enviar"] {
  display: block;
  margin: 0 auto;
  background-color: #2cc76a;
  color: #fff;
  cursor: pointer;
}